@page
@model PermissionSystem.Pages.Manager.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h4>Leave Request List</h4>
<br />
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LeavePermissionRequest[0].Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeavePermissionRequest[0].TimeFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeavePermissionRequest[0].TimeTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeavePermissionRequest[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeavePermissionRequest[0].EmployeeNote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeavePermissionRequest[0].ManagerNote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeavePermissionRequest[0].RequestReason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeavePermissionRequest[0].RequestStatus)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LeavePermissionRequest)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeFrom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeTo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeNote)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ManagerNote)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestReason.Name)
                </td>
                <td>
                    @if (item.RequestStatusId == 1)
                    {
                        <form method="post">

                            <div class="btn-group">
                                <button class="btn btn-success" type="submit" asp-page-handler="approve" asp-route-id="@item.Id">
                                    Approve
                                </button>
                                <button class="btn btn-danger" type="submit" asp-page-handler="rejecte" asp-route-id="@item.Id">
                                    Rejecte
                                </button>
                            </div>
                        </form>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.RequestStatus.Name)
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
